.btn-labguy {
  background-color: blue;
  color: white;
  &:hover {
    background-color: darkblue;
    color: white;
  }
}
.btn-rita {
  color: white;
  &:hover {
    background-color: darkblue;
    color: white;
  }
}
#Hotspot {
  background-color: transparent;
}
