@import "../../node_modules/bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

$dark: #1e2724;
$light: #d2efe8;

html,
body {
  font-family: "Inter", sans-serif;
  color: $dark;
  min-height: 100%;
  position: relative;
}
#root {
  min-height: 100%;
  position: relative;
}

a {
  color: rgb(119, 0, 255);
  text-decoration: none;
  &:hover {
    color: darkblue;
  }
}

@import "./btn.scss";
@import "./home.scss";
@import "./list-group.scss";
@import "./work-card.scss";
